<ul>
  <li>Quantity Threshold: <%= @merchant_bulk_discount.min_quality %></li>
  <li>Percentage Discount: <%= @merchant_bulk_discount.percentage %></li>
</ul>

<%= link_to "Edit Bulk Discount", edit_merchant_bulk_discount_path(@merchant, @merchant_bulk_discount) %>