<ul>
  <li>Quantity Threshold: <%= @merchant_bulk_discount.min_quality %></li>
  <li>Percentage Discount: <%= @merchant_bulk_discount.percentage %></li>
</ul>

<%= link_to "Edit Bulk Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{@merchant_bulk_discount.id}/edit" %>